body {
  background-color: #f0ece2;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.search-form {
  margin: 15px auto;
  border-bottom: 1px solid #dfd3c3;
  padding: 0 0 30px 0;
}
.search-bar {
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  color: dimgray;
  background-color: #f0ece2;
}

.search-button {
  padding: 15px;
  width: 19%;
  border: none;
  border-radius: 5px;
  background-color: #dfd3c3;
  font-size: 15px;
  color: dimgray;
  cursor: pointer;
}

.data-city {
  margin: 25px 0 10px 0;
  font-size: 50px;
  color: #906c5c;
}

.data-details {
  line-height: 25px;
  margin: 0;
  padding: 10px 0 50px 0;
  color: dimgray;
}

.data-details strong {
  color: #906c5c;
}

.data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.data-temp-container {
  display: flex;
}

.data-temp-icon {
  width: 110px;
  padding: 10px 5px 0 0;
}

.data-temp-number {
  font-size: 90px;
  font-weight: 580;
  color: #906c5c;
}

.data-temp-unit {
  padding: 15px 15px 0 0;
  font-size: 20px;
  color: #906c5c;
}

.forecast-data {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #dfd3c3;
  padding: 25px 0 30px 0;
}

.forecast-data-date {
  text-align: center;
  color: dimgray;
  font-size: 15px;
  margin-bottom: 10px;
}

.forecast-data-icon {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.forecast-data-temp {
  text-align: center;
  color: #906c5c;
  font-size: 16px;
}

.forecast-data-highest-temp {
  padding: 0 3px 0 0;
}

.forecast-data-lowest-temp {
  padding: 0 0 0 3px;
}

footer {
  border-top: 1px solid #dfd3c3;
  padding: 40px 0 5px 0;
  text-align: center;
  color: dimgray;
}
footer a {
  color: #906c5c;
}
